<button>
<svg width="39" height="35" viewBox="0 0 39 35" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g id="arrow plain left" clip-path="url(#clip0_439_4440)">
			<path id="Vector" d="M26.3686 5.17719L12.6378 17.4997L26.3686 29.8223" stroke="black" stroke-linecap="square" />
		</g>
		<defs>
			<clipPath id="clip0_439_4440">
				<rect width="39" height="35" fill="white" />
			</clipPath>
		</defs>
	</svg>
</button>
