<div>
	@foreach (var station in stations) {
		<div class= "stationButton">
			<Badge colour="@orange" />
			<button>@station</button>
		</div>
		}

	</div>

	@code {
	public string orange = "#E69123";

	List<string> stations = new List<string>{ "Station 1", "Station 2", "Station 3" };

}
