<div>
	<h2>Tool</h2>
	<div class="layout">
		<div class="toolColoumn">
			<label>Tool ID:</label>
			<input class="input-field" type="text" value="27" readonly />

			<label>Tool Shortname:</label>
			<input class="input-field" type="text" value="Tool 1" />

			<label>Tool Description:</label>
			<input class="input-field" type="text" />
		</div>

		<div class="toolColoumn">
			<label>Tool Class</label>
			<select class="input-field">
				<option>Select</option>
				<option>Option 1</option>
				<option>Option 2</option>
				<option>Option 3</option>
			</select>

			<label>Tool Type</label>
			<select class="input-field">
				<option>Select</option>
				<option>Option Type 1</option>
				<option>Option Type 2</option>
				<option>Option Type 3</option>
			</select>
		</div>
	</div>
	<hr />
	<div>
		<h3>Network</h3>
		<div class="layout"> 
			<div class="toolColoumn">
				<label>IP-Address Device:</label>
				<input class="input-field" type="text" value="172.168.10.59" />

				<label>PLC Name:</label>
				<input class="input-field" ´type="text" />

				<label>DBNo Send:</label>
				<input class="input-field" type="text" />

				<label>DBNo Receive:</label>
				<input class="input-field" type="text" />
			</div>

			<div class="toolColoumn">
				<label>Address in Send-DB:</label>
				<input class="input-field" type="text" />

				<label>Address in Receive-DB:</label>
				<input class="input-field" type="text" />

				<label>Byte Pre Check:</label>
				<input class="input-field" type="text" />
			</div>
		</div>
	</div>
	
</div>


@code {

}
