
@page "/"

<h1>Select Station</h1>



<div class="ProjectManager">
    <div class="row">
        <div class="col">
            <Search></Search>
        </div>
        <div class="col">
            <select class="form-select form-select-lg mb-3" aria-label="Large select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>
    <div class="btn-group-vertical">
        <ProjectButton></ProjectButton>
        <ProjectButton></ProjectButton>
        <ProjectButton></ProjectButton>
    </div>
    <div class="row">
        <div class="col">
            <button class="import-button">
                <span class="plus-icon">+</span>
                Import Similar Project
            </button>
        </div>
        <div class="col">
            <button class="import-button">
                <span class="plus-icon">+</span>
                Create Empty Project
            </button>

        </div>
    </div>
</div>



@code {

}
