html, body {
    height: 100%;
    margin: 0;
}

.line{
    min-height: 8vh;
}
.main-screen {
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    min-height: 90vh;
}

.table-formular {
    display: flex;
    flex-direction: row;
    min-width: 88%;
    margin-left: 2%;
    margin-top: 2%;
    background-color: white;
}


