@* Network Component *@
<FormContainer Title="Network">
    <div class="form-content three-column">
        @* First row *@
        <FormField Id="ip-address" Label="IP-Address Device" Value="172.168.10.59" ShowHelp="true" />
        <FormField Id="dbno-send" Label="DBNo Send" ShowHelp="true" />
        <FormField Id="address-send-db" Label="Address in Send-DB" ShowHelp="true" />

        @* Second row *@
        <FormField Id="plc-name" Label="PLC Name" ShowHelp="true" />
        <FormField Id="dbno-receive" Label="DBNo Receive" ShowHelp="true" />
        <FormField Id="address-receive-db" Label="Address in Receive-DB" ShowHelp="true" />

        @* Third row - centered *@
        <FormField Id="byte-pre-check" Label="Byte Pre Check" Class="center-column" ShowHelp="true" />
    </div>
</FormContainer>