@* Operation Component *@
<FormContainer Title="Operation">
    <div class="form-content grid-layout">
        <FormField Id="op-id" Label="Operation ID" Value="23" AdditionalAttributes='new Dictionary<string, object> { { "readonly", "readonly" } }' />

        <FormField Id="op-serial-parallel" Label="Serial/Parallel" InputType="select" ShowDropdownIcon="true">
            <Options>
                <option value="serial">Serial</option>
                <option value="parallel">Parallel</option>
            </Options>
        </FormField>

        <FormField Id="op-shortname" Label="Operation ShortName" Placeholder="Operation 1" MaxLength="16" />

        <FormField Id="op-sequenz" Label="Operation Sequenz" Placeholder="Fehler"
                   AdditionalAttributes='new Dictionary<string, object> { { "class", "error" } }' />

        <FormField Id="op-description" Label="Operation Description" InputType="textarea"
                   Rows="4" MaxLength="100" ShowCounter="true" />

        <FormField Id="op-sequenz-group" Label="Operation Sequenz Group" InputType="textarea"
                   Rows="4" MaxLength="100" ShowCounter="true" />
    </div>
</FormContainer>