@* Operation Classes Component *@
<FormContainer Title="Operation Classes">
    <div class="form-content grid-layout">
        <FormField Id="decision-class" Label="Decision Class" InputType="select" ShowHelp="true" ShowDropdownIcon="true">
            <Options>
                <option value=""></option>
            </Options>
        </FormField>

        <FormField Id="verification-class" Label="Verification Class" InputType="select" ShowHelp="true" ShowDropdownIcon="true">
            <Options>
                <option value=""></option>
            </Options>
        </FormField>

        <FormField Id="generation-class" Label="Generation Class" InputType="select" ShowHelp="true" ShowDropdownIcon="true">
            <Options>
                <option value=""></option>
            </Options>
        </FormField>

        <FormField Id="saving-class" Label="Saving Class" InputType="select" ShowHelp="true" ShowDropdownIcon="true">
            <Options>   
                <option value=""></option>
            </Options>
        </FormField>

        <FormField Id="op-decision-criteria" Label="OP Decision Criteria/Attribute" InputType="textarea"
                   Rows="5" ShowHelp="true" Class="full-width" />
    </div>
</FormContainer>