<div class="operation-class-container">
    <div class="operation-class-header">Operation Classes</div>

    <div class="operation-class-form">
        <div class="form-column">
            <div class="form-field">
                <label>Decision Class:</label>
                <div class="input-with-help">
                    <select></select>
                    <span class="help-icon">?</span>
                </div>
            </div>

            <div class="form-field">
                <label>Generation Class:</label>
                <div class="input-with-help">
                    <select></select>
                    <span class="help-icon">?</span>
                </div>
            </div>
        </div>

        <div class="form-column">
            <div class="form-field">
                <label>Verification Class:</label>
                <div class="input-with-help">
                    <select></select>
                    <span class="help-icon">?</span>
                </div>
            </div>

            <div class="form-field">
                <label>Saving Class:</label>
                <div class="input-with-help">
                    <select></select>
                    <span class="help-icon">?</span>
                </div>
            </div>
        </div>

        <div class="form-wide">
            <label>OP Decision Criteria/Attribute:</label>
            <div class="input-with-help">
                <textarea rows="5"></textarea>
                <span class="help-icon">?</span>
            </div>
        </div>
    </div>
</div>
