@using MauiApp1.Components.DB
<div class="stations">
    @if (StationNames != null)
    {
        foreach (var station in StationNames)
        {
            <button @onclick='() => SetCurrentStation(station)'>@station</button>
        }
    }
    <div class="fixed-footer">
        <button @onclick='() => createNewStation()'>Create new Station</button>
    </div>
</div>



@code {
    [Parameter]
    public List<string> StationNames { get; set; }

    [Parameter]
    public EventCallback<string> CurrentStation { get; set; }

    private DBService stationService;

    private void SetCurrentStation(string stationName)
    {
        CurrentStation.InvokeAsync(stationName);
    }

    private void createNewStation()
    {
        stationService = new DBService();
        stationService.addNewStation(10, "testName", 20, "janDerCoole", "lukas");
        StationNames = stationService.GetAllStationNames();
    }

    
}

