<div class="stations">
    @if (StationNames != null)
    {
        foreach (var station in StationNames)
        {
            <button @onclick='() => SetCurrentStation(station)'>@station</button>
        }
    }
    <div class="fixed-footer">
        <button>Create new Station</button>
    </div>
</div>



@code {
    [Parameter]
    public List<string> StationNames { get; set; }

    [Parameter]
    public EventCallback<string> CurrentStation { get; set; }

    private void SetCurrentStation(string stationName)
    {
        CurrentStation.InvokeAsync(stationName);
    }
}

