<div class="stations">
    @if (StationNames != null)
    {
        foreach (var station in StationNames)
        {
            <button>@station</button>
        }
    }
    <div class="fixed-footer">
        <button>Create new Station</button>
    </div>
</div>



@code {
    [Parameter]
    public List<string> StationNames { get; set; }
}

