@using MauiApp1.Components.DB
@inject DBService db


<div class="stations">
    @if (stationNames != null)
    {
        foreach (var station in stationNames)
        {
            <button @onclick='() => SetCurrentStation(station)'>@station</button>
        }
    }
    <div class="fixed-footer">
        <button @onclick='() => createNewStation()'>Create new Station</button>
    </div>
</div>



@code {

    [Parameter]
    public EventCallback<string> CurrentStation { get; set; }

    [Parameter]
    public EventCallback<string> CreateStationButton { get; set; }


    private List<string> stationNames;

    protected override void OnInitialized()
    {
        stationNames = db.GetAllStationNames();
    }


    private void SetCurrentStation(string stationName)
    {
        CreateStationButton.InvokeAsync(stationName);
    }

    private void createNewStation()
    {
        db = new DBService();
        CreateStationButton.InvokeAsync("stationFormular");
        stationNames = db.GetAllStationNames();
    }



    


}

