@* Status Component *@

<FormContainer Title="Status" Collapsible="false">
    <div class="form-content flex-layout">
        <FormField Id="config-explorer" Label="Config Explorer Status" InputType="textarea" 
                   Rows="5" ShowHelp="true" />
        
        <FormField Id="colour-status" Label="Colour Status" InputType="select" 
                   ShowHelp="true">
            <Options>
                <option value=""></option>
            </Options>
        </FormField>
    </div>
</FormContainer>