

<div class="station-container">
    <div class="tool-header">Station</div>


    <form class="station-form">

        <div class="formElement">
            <label for="assembly">Assemblystation</label>
            <input type="text" id="assembly">
        </div>

        <div class="formElement">
            <label for="assembly">Assemblystation</label>
            <input type="text" id="assembly">
        </div>

        <div class="formElement">
            <label for="assembly">Assemblystation</label>
            <input type="text" id="assembly">
        </div>


    </form>

</div>
