@* Tool Component *@
<FormContainer Title="Tool">
    <div class="form-content grid-layout">
        <FormField Id="tool-id" Label="Tool ID" Value="64" ShowHelp="true"
                   AdditionalAttributes='new Dictionary<string, object> { { "readonly", "readonly" } }'
                   Class="full-width" />

        <FormField Id="tool-shortname" Label="Tool ShortName" Placeholder="Tool 1"
                   MaxLength="16" ShowHelp="true" />

        <FormField Id="tool-class" Label="Tool Class" InputType="select" ShowHelp="true">
            <Options>
                <option value="">Select...</option>
            </Options>
        </FormField>

        <FormField Id="tool-description" Label="Tool Description" InputType="textarea"
                   Rows="4" MaxLength="100" ShowHelp="true" ShowCounter="true" />

        <FormField Id="tool-type" Label="Tool Type" InputType="select" ShowHelp="true" ShowDropdownIcon="true">
            <Options>
                <option value="">Select...</option>
            </Options>
        </FormField>
    </div>
</FormContainer>