@using DaimlerConfig.Components.Models
@inject DaimlerConfig.Components.Fassade.Fassade Fassade

<div>
    <h2>Operation</h2>
    <div class="layout">
        <div class="toolColoumn">
            <label>Operation ID:</label>
            <input class="input-field" type="text" @bind="SelectedOperation.operationID" readonly @onblur="UpdateOperationAsync"/>

            <label>Operation Shortname:</label>
            <input class="input-field" type="text" @bind="SelectedOperation.operationShortname" @onblur="UpdateOperationAsync"/>

            <label>Operation Description:</label>
            <input class="input-field" type="text" @bind="SelectedOperation.operationDescription" @onblur="UpdateOperationAsync"/>
        </div>

        <div class="toolColoumn">
            <label>Serial Parallel</label>
            <select class="input-field">
                <option value="">Select</option>
                <option value="Serial">Serial</option>
                <option value="Parallel">Parallel</option>
            </select>

            <label>Operation Sequenz</label>
            <input class="input-field" type="text"/>

            <label>Operation Sequenz Group</label>
            <input class="input-field" type="text"/>
        </div>
    </div>
    <hr />
    <div>
        <h3>Classes</h3>
        <div class="layout">
            <div class="toolColoumn">
                <label>Decision Class:</label>
                <select class="input-field" >
                    <option value="">Select</option>
                    <option value="Serial">Serial</option>
                    <option value="Parallel">Parallel</option>
                </select>

                <label>Generation Class:</label>
                <select class="input-field" >
                    <option value="">Select</option>
                    <option value="Serial">Serial</option>
                    <option value="Parallel">Parallel</option>
                </select>
            </div>

            <div class="toolColoumn">
                <label>Verification Class:</label>
                <select class="input-field" >
                    <option value="">Select</option>
                    <option value="Serial">Serial</option>
                    <option value="Parallel">Parallel</option>
                </select>

                <label>Saving Class:</label>
                <select class="input-field" >
                    <option value="">Select</option>
                    <option value="Serial">Serial</option>
                    <option value="Parallel">Parallel</option>
                </select>
            </div>

            <div class="toolColoumn">
                <label>Saving Class:</label>
                <textarea class="input-field" rows="4" cols="25" placeholder="Gib deinen Text hier ein..." ></textarea>
            </div>

            @if (SelectedOperation.operationID == 0)
            {
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <button class="btn btn-primary btn-sm">Create</button>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Operation? SelectedOperation { get; set; }


    [Parameter]
    public EventCallback OnUpdated { get; set; }

    private async Task UpdateOperationAsync()
    {
        if (SelectedOperation != null)
        {
            await Fassade.UpdateOperation(SelectedOperation);
            await OnUpdated.InvokeAsync();
        }
    }

}