
.layout {
    /*display: flex;*/
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap; /* Important for wrapping */
}

.class-header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap
}

h2 {
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

.stationColoumn {
    flex: 1;
    min-width: 300px; /* Prevents columns from shrinking too much */
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.95em;
}

/* Optional: stack vertically at smaller screen sizes */
@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }

}
