@using DaimlerConfig.Components.Models
@inject DaimlerConfig.Components.Fassade.Fassade Fassade

<div>
	<h2>Station</h2>
	<div class="layout">
		<div class="toolColoumn">

			<label>Assemblystation:</label>
			<input class="input-field" type="text" @bind="SelectedStation.assemblystation" @onblur="UpdateStationAsync" />

			<label>Assemblystation Description:</label>
			<input class="input-field" type="text" @bind="SelectedStation.stationName" @onblur="UpdateStationAsync" />

			<label>Station Type:</label>
			<input class="input-field" type="text" @bind="SelectedStation.stationTypeID" @onblur="UpdateStationAsync" />

			<div class="d-flex justify-content-between align-items-center mb-3">
				<button class="btn btn-primary btn-sm">Create</button>
			</div>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public Station? SelectedStation { get; set; }

	
	[Parameter]
	public EventCallback OnUpdated { get; set; }

	private async Task UpdateStationAsync()
	{
		if (SelectedStation != null)
		{
			await Fassade.UpdateStation(SelectedStation);
			await OnUpdated.InvokeAsync(); 
		}
	}
}
