@using DaimlerConfig.Components.Models
@inject DaimlerConfig.Components.Fassade.Fassade Fassade

<div>
    <h2>Tool</h2>
    <div class="layout">
        <div class="toolColoumn">
            <label>Tool ID:</label>
            <input class="input-field" type="text" @bind="SelectedTool.toolID" readonly @onblur="UpdateToolAsync" />

            <label>Tool Shortname:</label>
            <input class="input-field" type="text" @bind="SelectedTool.toolShortname" @onblur="UpdateToolAsync" />

            <label>Tool Description:</label>
            <input class="input-field" type="text" @bind="SelectedTool.toolDescription" @onblur="UpdateToolAsync" />
        </div>

        <div class="toolColoumn">
            <label>Tool Class</label>
            <select class="input-field" >
                <option value="">Select</option>
                <option value="Option 1">Option 1</option>
                <option value="Option 2">Option 2</option>
                <option value="Option 3">Option 3</option>
            </select>

            <label>Tool Type</label>
            <select class="input-field" >
                <option value="">Select</option>
                <option value="Option Type 1">Option Type 1</option>
                <option value="Option Type 2">Option Type 2</option>
                <option value="Option Type 3">Option Type 3</option>
            </select>
        </div>
    </div>
    <hr />
    <div>
        <h3>Network</h3>
        <div class="layout">
            <div class="toolColoumn">
                <label>IP-Address Device:</label>
                <input class="input-field" type="text"  />

                <label>PLC Name:</label>
                <input class="input-field" type="text"  />

                <label>DBNo Send:</label>
                <input class="input-field" type="text"  />

                <label>DBNo Receive:</label>
                <input class="input-field" type="text"  />
            </div>

            <div class="toolColoumn">
                <label>Address in Send-DB:</label>
                <input class="input-field" type="text"  />

                <label>Address in Receive-DB:</label>
                <input class="input-field" type="text"  />

                <label>Byte Pre Check:</label>
                <input class="input-field" type="text"  />
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Tool? SelectedTool { get; set; }


    [Parameter]
    public EventCallback OnUpdated { get; set; }

    private async Task UpdateToolAsync()
    {
        if (SelectedTool != null)
        {
            await Fassade.UpdateTool(SelectedTool);
            await OnUpdated.InvokeAsync();
        }
    }
}



