@page "/"

<h1>Select Projekt</h1>

<div class="outerBox">
    <input type="text" placeholder=" Search" class="search" />
    <input type="text" value="Sorted By Date" class="search" />
    <nav class="projects">
        <NavLink href="project">
            <button>Area_B02_Main</button>
        </NavLink>

        <NavLink href="project">
            <button>Area_B01_Main</button>
        </NavLink>
    </nav>
    <input type="button" value="+ New Project" class="newProject" />
</div>



