@page "/"

<!-- Hier UI-Layout für Project-Bildschirm -->


<div class="lineName">
    <nav>
        <NavLink class="nav-link" href="">
            <input type="button" value="<" />
        </NavLink>
    </nav>
    <h1>Project: Area_B02_Main</h1>
</div>


<div class="screen">
    <div class="stations">

    </div>

    <div class="table_area">
        <Table></Table>
        <ToolFormular></ToolFormular>
    </div>

</div>





