@page "/"

<!-- Hier UI-Layout für Project-Bildschirm -->


<div class="lineName">
    <nav>
        <NavLink class="nav-link" href="">
            <input type="button" value="<" />
        </NavLink>
    </nav>
    <h1>Project: Area_B02_Main</h1>
</div>


<div class="screen">
    @formular
    <Stations></Stations>
    <div class="table_area">
        <Table SetFormular="SetFormular"></Table>
        <OperationClassFormular></OperationClassFormular>
    </div>

</div>

@code {

    private int formular = -1;

    private void SetFormular(int value)
    {
        formular = value;

    }
}



