@page "/"

<!-- Hier UI-Layout für Project-Bildschirm -->


<div class="lineName">
    <nav>
        <NavLink class="nav-link" href="">
            <input type="button" value="<" />
        </NavLink>
    </nav>
    <h1>Project: Area_B02_Main</h1>
</div>


<div class="screen">

    <Stations></Stations>
    <div class="table_area">
        <Table SetFormular="SetFormular"></Table>
        @switch (formular)
        {
            case "toolFormular":
                <ToolFormular></ToolFormular>
                break;
            case "operationFormular":
                <OperationFormular></OperationFormular>
                break;
            case "operationclassFormular": 
                <OperationClassFormular></OperationClassFormular>
                break;
            case "networkFormular":
                <NetworkFormular></NetworkFormular>
                break;
            case "statusFormular":
                <StatusFormular></StatusFormular>
                break;
        }
    </div>

</div>

@code {

    private string? formular;
    

    private void SetFormular(string value)
    {
        formular = value;

    }
}



