@page "/project"

<!-- Hier UI-Layout für Project-Bildschirm -->

<nav>
    <NavLink href="">
            <input type="button" value="<" />
    </NavLink>
</nav>

<div class="lineName">
    <h1>Project: Area_B02_Main</h1>
</div>


<div class="screen">

    <Stations></Stations>
    <div class="table_area">
        <Table SetFormular="SetFormular"></Table>
        @switch (formular)
        {
            case "toolFormular":
                <ToolFormular></ToolFormular>
                break;
            case "operationFormular":
                <OperationFormular></OperationFormular>
                break;
            case "operationclassFormular": 
                <OperationClassFormular></OperationClassFormular>
                break;
            case "networkFormular":
                <NetworkFormular></NetworkFormular>
                break;
            case "statusFormular":
                <StatusFormular></StatusFormular>
                break;
        }
        <p>Double Click On The Cell You Want To Work On Or Add A New Tool</p>
    </div>

</div>

@code {

    private string? formular;
    

    private void SetFormular(string value)
    {
        formular = value;

    }
}



