@inherits LayoutComponentBase
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@using DaimlerConfig.Services
@inject AppStartupValidationService ValidationService
@using MudBlazor

@code {
    private bool showOnlySettings => ValidationService.HasErrors;
}

<MudThemeProvider  Theme="@CustomTheme.Themetheme"/> 
<MudPopoverProvider />
<MudDialogProvider />
 <MudSnackbarProvider />



@if (showOnlySettings)
{
    <Settings />
}
else
{
    <div class="page">
        <main>
            <article class="content">
                @Body
            </article>
        </main>
    </div>
}

