@inherits LayoutComponentBase
@using Microsoft.Extensions.Configuration

@inject IConfiguration Configuration

@using DaimlerConfig.Services
@inject AppStartupValidationService ValidationService

@code {
    private bool showOnlySettings => ValidationService.HasErrors;
}

@if (showOnlySettings)
{
    @* Required *@
    <MudThemeProvider />
    <MudPopoverProvider />

    @* Needed for dialogs *@
    <MudDialogProvider />

    @* Needed for snackbars *@
    <MudSnackbarProvider />
    
    <Settings />
}
else
{
    <div class="page">
        <main>
            <article class="content">
                @* Required *@
                <MudThemeProvider />
                <MudPopoverProvider />

                @* Needed for dialogs *@
                <MudDialogProvider />

                @* Needed for snackbars *@
                <MudSnackbarProvider />

                @Body
            </article>
        </main>
    </div>
}