@inherits LayoutComponentBase

<div class="page">
    <main>
        <Navbar />
        <MudThemeProvider />
        <MudPopoverProvider />
        <MudDialogProvider />
        <MudSnackbarProvider />

        <MudLayout>
            <MudThemeManagerButton OnClick="@((e) => OpenThemeManager(true))" />
            <MudThemeManager Open="_themeManagerOpen" OpenChanged="OpenThemeManager" Theme="_themeManager" ThemeChanged="UpdateTheme" />
            <MudMainContent>
                @Body
            </MudMainContent>
        </MudLayout>
    </main>
</div>

@code {
    private ThemeManagerTheme _themeManager = new ThemeManagerTheme();
public bool _themeManagerOpen = false;

void OpenThemeManager(bool value)
{
    _themeManagerOpen = value;
}

void UpdateTheme(ThemeManagerTheme value)
{
    _themeManager = value;
    StateHasChanged();
}

protected override void OnInitialized()
{
    StateHasChanged();
}
}
