@inherits LayoutComponentBase

<div class="page">
    <main>
        <Navbar />
        <article class="content">
            @Body
            <Toast />
        </article>
    </main>
</div>
