@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content">
            @* Required *@
<MudThemeProvider />
<MudPopoverProvider />

            @* Needed for dialogs *@
<MudDialogProvider />

            @* Needed for snackbars *@
<MudSnackbarProvider />
            @Body
        </article>
    </main>
</div>
